.grading-system:hover {
    cursor:help;
}
.novice {
    background-color: #F1EEF6;
}
.beginner {
    background-color: #BDC9E1;
}
.intermediate {

}
.advanced {

}
.expert {

}
.elite {

}
.search-label{
    width: 250px;
    float: left;
}