.grading-system:hover {
    cursor:help;
}
.novice {
    background-color: aliceblue;
}

.beginner {
    background-color: lightblue;
}

.search-label{
    width: 250px;
    float: left;
    padding: 3px;
}

.radio input {
    visibility: hidden;
    text-align: center;
}