.grading-system:hover {
    cursor:help;
}
.grading-system {
    width: 16.6%;
    text-align: center;
}
.novice {
    background-color: #F1EEF6;
}
.beginner {
    background-color: #BDC9E1;
}
.intermediate {
    background-color: #74A9CF;
}
.advanced {
    background-color: #2B8CBE;
}
.expert {
    background-color: #045A8D;
}
.elite {
    background-color: #845A9E;
}
.search-label{
    /*width: 250px;*/
    float: left;
}