.radio input {
    visibility: hidden;
}
.radio {
    /*font-size: calc(10px + vmin);*/
    /*text-align: center;*/
    align-self: start;
    /*align-items: baseline;*/
    justify-content: center;
    /*width: 250px;*/
    /*max-height: 40px;*/
}
.toggle-btn-group {
    /*padding-left: 35px;*/
    /*padding: 5px ;*/
}